{% extends 'base.html' %}
{% load static %}

{% block title %}
    UniFood
{% endblock %}
{% block content %}
<style>
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f7f7f7;
        padding: 40px;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    p {
        text-align: center;
        color: #666;
    }
</style>

<h1>UniFood</h1>

<img src="{% static 'image/UniFood_Phone_icon.png' %}" alt="UniFood" style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: 50%;">

<p>Welcome to UniFood, the best place to find food around your university!</p>



{% endblock %}