{% extends 'base.html' %}
{% load static %}

{% block title %}
    UniFood
{% endblock %}
{% block content %}
<style>
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f7f7f7;
        padding: 40px;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    p {
        text-align: center;
        color: #666;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
    }
    h4 {
        text-align: center;
        color: #333;
    }
</style>

<img src="{% static '/image/unifood_fork_better_pin.png' %}" alt="UniFood" style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: 50%;">

<h4>Welcome to UniFood, the best place to find food around your university!</h4>



{% endblock %}