{% extends 'login/login_base.html' %}
{%load static%}
{% block content %}
<style>
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f7f7f7;
        padding: 40px;
    }
    form {
        background-color: #ffffff;
        max-width: 300px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    h2 {
        text-align: center;
        color: #333;
    }
    label {
        margin-bottom: 5px;
        display: block;
        color: #666;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #072856ff;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;
    }
    button:hover {
        
        background-color: #005782ff;
    }
    alert {
        margin-bottom: 10px;
    }
    .alert-success {
        color: #4F8A10;
        background-color: #DFF2BF;
        border: 1px solid #4F8A10;
    }

    .alert-error {
        color: #D8000C;
        background-color: #FFBABA;
        border: 1px solid #D8000C;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 256px;
        height: 256px;
    }
    p {
        text-align: center;
        color: #666;
        decoration: none;
    }

    a {
        text-align: center;
        color: #666;
        decoration: none;
        
    }

</style>


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}



<img src="{% static '/image/unifood_fork_better_pin.png' %}" alt="UniFood">
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <hr>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</form>
{% endblock %}
