{% extends 'uni_base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <a href="/universities" class="btn btn-secondary" align='center'>Go Back to Universities</a>
    <hr>
    <h1>List of Places in {{university.name}}</h1>
    <div class="university-container">
        {% for place in places %}
        <a href="/menus/{{place.id}}/{{university.id}}">
            <div class="university-box">
                <p><b>{{ place.name }}</b></p>
                <hr>
                <p>{{ place.description }}</p>
                <hr>
                <p><b>Price Average:</b></p>
                <p>{{ place.priceAverage }}</p>
                <form action="{% url 'set_favorite' place.id %}" method="post">
                    {% csrf_token %}
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" align='center' type="submit">Add place to Favorites</button>
                    </div>
                </form>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}


