{% extends 'uni_base.html' %}

{% block content %}
    <h1>List of Places in {{university.name}}</h1>
    <div class="university-container">
        {% for place in places %}
        <a href="/menus/{{place.id}}">
            <div class="university-box">
                <p><b>{{ place.name }}</b></p>
                <hr>
                <p>{{ place.description }}</p>
                <hr>
                <p>{{ place.priceAverage }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}


