{% extends 'uni_base.html' %}

{% block content %}

    <a href="/universities" class="btn btn-secondary" align='center'>Go Back to Universities</a>
    <hr>
    <h1>List of Places in {{university.name}}</h1>
    <div class="university-container">
        {% for place in places %}
        <a href="/menus/{{place.id}}/{{university.id}}">
            <div class="university-box">
                <p><b>{{ place.name }}</b></p>
                <hr>
                <p>{{ place.description }}</p>
                <hr>
                <p><b>Price Average:</b></p>
                <p>{{ place.priceAverage }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}


